{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}{% trans "New Task" %}{% endblock %}

{% block main %}

<tbody>
 <tr class="table_row">
     <form action="/tasks/add" method="post">
        {% csrf_token %}
        {% for field in form %}
          <td>
           <table>
            <tr><td>{{ field.label }}</td></tr>
            <tr><td>{{ field }}</td></tr>
           </table>
          </td>
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>
 </tr>
</tbody>

{% endblock %}