{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{% trans "My Tasks" %}{% endblock %}
{% block title %}{% trans "My Tasks" %}{% endblock %}

{% block main %}
    <script>
    function complete(taskID) {
    //     console.log(taskID);
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/tasks/complete');
        form.style.display = 'hidden';
        var IDField = document.createElement("input");
        IDField.setAttribute("type", "hidden");
        IDField.setAttribute("name", "ID");
        IDField.setAttribute("value", taskID);
        form.appendChild(IDField);
        document.body.appendChild(form)
        form.submit();
    }
    </script>
    <p>Level: {{ level }}</p>
    <p>Exp: {{ exp }}</p>
    <button class="btn btn-info" type="button" onclick="window.location.href='/tasks/pick'">Pick next task</button>
    <button class="btn btn-info" type="button" onclick="window.location.href='/tasks/add'">Add new task</button>
    <p></p>
    {% if not tasks %}
    <p>Looks like your to-do list is empty. Click "pick next" to choose one from a list or "add new" to create your own.</p>
    {% endif %}
    {% for task in tasks %}
        <div class="post">
            <h3><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></h3>
            <p>{{ task.desc|linebreaks }}</p>
            <input class="btn btn-success" type="submit" value="Completed" onclick="complete('{{task.id}}')">
        </div>
    {% endfor %}
{% endblock main %}

