{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{% trans "Choose Tasks" %}{% endblock %}
{% block title %}{% trans "Choose Tasks" %}{% endblock %}

{% block main %}
    <script>
    function pick(taskID) {
    //     console.log(taskID);
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/tasks/pick');
        form.style.display = 'hidden';
        var IDField = document.createElement("input");
        IDField.setAttribute("type", "hidden");
        IDField.setAttribute("name", "ID");
        IDField.setAttribute("value", taskID);
        form.appendChild(IDField);
        document.body.appendChild(form)
        form.submit();
    }
    </script>
    <button class="btn btn-info" type="button" onclick="window.location.href='/tasks/add'">Add new task</button>
    {% for task in tasks %}
        <div class="post">
            <h3><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></h3>
            {% if task.completed %}
            <p style="color:green">Completed</p>
            {% endif %}
            <p>{{ task.desc|linebreaks }}</p>
            <input class="btn btn-success" type="submit" value="Select this task" onclick="pick('{{task.id}}')">
        </div>
    {% endfor %}
{% endblock main %}