{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}My tasks{% endblock %}
{% block title %}Task detail: {{task.title}}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home.Tasks" %}</li>
{% endblock %}

{% block main %}

<!-- Tried to use DELETE but too much hassle getting it to work -->
<!-- <script>
function del(taskID) {
//     $.ajax({
//     url: '',
//     type: 'DELETE',
//     success: function(result) {
//     }
//});
    var form = document.createElement('form');
    form.setAttribute('method', 'DELETE');
    form.setAttribute('action', '/tasks/task/{{task.id}}');
    form.style.display = 'hidden';
    var IDField = document.createElement("input");
    IDField.setAttribute("type", "hidden");
    IDField.setAttribute("name", "ID");
    IDField.setAttribute("value", taskID);
    form.appendChild(IDField);
    document.body.appendChild(form);
    console.log(form);
    form.submit();
}
</script> -->

<div class="post">
    <h1><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></h1>
    <p>{{ task.desc|linebreaks }}</p>
    <p>Difficulty: {{ task.get_diff_display }}</p>
    <p>Type: {{ task.task_type }}</p>
<!--     <input class="btn btn-danger" type="submit" value="Delete this task" onclick="del('{{task.id}}')"> -->
    {% if task.user = request.user %}
    <button class="btn btn-danger" type="submit" value="Delete this task" onclick="if(confirm('Are you sure you want to delete this task?'))window.location.href='/tasks/delete/{{task.id}}'" formmethod="GET">Delete this task</button>
    {% endif %}

</div>
{% endblock main %}

