{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Let's get cookin'!</h2>
<p>
    Welcome to Lv99Cooking. Click on 'Tasks' to get started and say bye bye to McDonald's!
</p>
<p></p>
<img src="/static/img/cheering.jpg">

{% endblocktrans %}
{% endblock %}
